<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Home Page</title>
    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1>What would you like to do?</h1>
    <div id="options" class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-body">
                <a href="#">Check Email</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="#">Access Patient Records</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="#">Send A Request To The Pharmacy</a>
            </div>
        </div>
    </div>
</body>
</html>