body{
    width: 100%;
    background-image: url("../img/project_2.jpg");
}

h1{
    color: skyblue;
    text-align: center;
}

h2{
    color: lavender;
    text-align: center;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#email-body {
    margin-top: 3rem;
}