body{
    width: 100%;
    background-image: url("../img/project_2.jpg");
    overflow: hidden;
}

form {
    height: 100vh;
}

h1{
    text-align: center;
    color: deepskyblue;
    font-family: Bahnschrift, sans-serif;
}

a {
    font-size: 2rem;
    color: crimson;
}

a:link{
    text-decoration: none;
}

a:hover {
    color: magenta;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lavender;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin: 2rem;
    padding: 1rem;
}


.options {
    display: flex;
    justify-content: center;
    font-family: Bahnschrift, sans-serif;
}