body{
    width: 100%;
    background-image: url("../images/project_2.jpg");
}

form {
    height: 100vh;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

.card{
    display: flex;
    justify-content: center;
    margin: 1rem;
}