<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor Home Page</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
<h1>What would you like to do?</h1>
<div class="container">
    <div class="options">
        <div class="card">
            <a href="#">Check Email</a>
        </div>
        <div class="card">
            <a th:href="@{/doctor/{id}/patientSearch(id = ${doctorDTO.getId()})}">Access Patient Records</a>
        </div>
        <div class="card">
            <a href="#">Update Patient Records</a>
        </div>
        <div class="card">
            <a th:href="@{/doctor/{id}/pharmacyRequest(id = ${doctorDTO.getId()})}">
                Send A Request To The Pharmacy</a>
        </div>
    </div>
</div>
</body>
</html>