<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Search</title>
    <link th:href="@{/css/search.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <form th:action="@{/doctor/patientSearch/{id}(id=${patientDTO.getId()})}" method="post">
        <div><h1>Enter Patient's Name</h1></div>
        <div id="search">
            <label>
                <input type="text" class="form-control" placeholder="First Name" th:field="*{patientDTO.firstName}">
                <input type="text" class="form-control" placeholder="Last Name" th:field="*{patientDTO.lastName}">
            </label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
</body>
</html>